body {
    background-color: black;
    color: hotpink;
    font-family: Segoe UI, serif;
}

hr {
    background-color: hotpink;
    height: 1px;
    border: none;
}

#coolDiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 12px;

    img {
        grid-column: span 3;
        grid-row: span 3;
        height: 40vh;
        width: 40vh;
        padding-left: 100px;
    }

    p {
        grid-column: span 2;
        grid-row: span 2;
    }

    a{
        grid-column: span 1;
        grid-row: span 1;
    }
}

.title {
    color: hotpink;
    font: bold 40px "Segoe UI";
    padding-top: 15px;
    text-align: center;
}

.carson {
    font: bold 25px Roboto;
    padding: 10px;
    text-align: center;
}

body .lists {
    display: flex;
    font: 20px Segoe UI;
    justify-content: space-evenly;
}

button {
    background-color: hotpink;
    font: 25px Roboto;
    padding: 10px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.body {
    font: bold 15px "Segoe UI";
}

a:visited {
    color: beige;
}

#buttonCounterDiv {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0px;

    button {
        padding-left: 100px;
        padding-right: 100px;
    }
}

table {
    margin-left: auto;
    margin-right: auto;

    tr th {
        text-align: left;
    }
    tr td {
        text-align: left;
        padding-right: 20px;
    }
}

label {
    color: hotpink;

}

#inputDiv {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

a[href*="frhsd.com"] {
    font: italic 20px "Segoe UI";
}

#amerBio {
    font: italic 15px "Segoe UI";
}

li:hover {
    background-color: lightpink;
}

#linkDiv {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0px;
}

h3 {
    text-align: center;
}

a {
    color: deeppink;
}

a:hover {
    color: white; !important
}

h3 > a:hover{
    color: white; !important
}
a:visited {
    color: hotpink;
}

tr td a:hover {
    color: white; !important
}

div {
    border: 5px;
    li + li {
        margin-left: 15px;
    }
}

div > li {
    padding: 5px;
}